body{
    background-color: rgb(255, 247, 196);
}

.font-style{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: rgb(200, 157, 65);
    font-size: 50px;
}

.select-item div{
    position: relative;
    transition: all .1s ease;
    cursor: pointer;
}

.select-bg{
    background-color: rgb(250, 235, 237);
    border-radius: .75em;
    box-shadow: 0 1px 5px black;
    color: rgb(210, 150, 160);
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 17px;
    text-shadow: .5px .5px .5px black;
}

.select-item img{
    height: 8em;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.row-style{
    height: 30em !important;
    overflow: scroll;
}