body{
    background-color: rgb(255, 247, 196);
}

.font-style{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: rgb(200, 157, 65);
    font-size: 50px;
}

.select-item div{
    position: relative;
    transition: all .1s ease;
    cursor: pointer;
}

.select-bg{
    background-color: rgb(249, 211, 217);
    /* TODO add box shadow */
}

.select-item img{
    height: 15em;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.row-style{
    height: 30em !important;
    overflow: scroll;
}